#home{
    color: #fff;
    padding: 8rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#home img{
    height: 30rem;
}
.apresentation{
   display: flex;
   margin: 0 auto;
   justify-content: center;
   flex-direction: column;
}

p{
    font-size: 30px;
}
.name{
    color: violet;
    font-size: 80px;
}

@media(min-width: 2050px){
  #home{
   width: 80%;
   margin: 0 auto;
  }

  #home img{
    margin-left: 30rem;
}
}

@media(max-width: 425px){
    #home{
        margin-left: 0rem;
        max-width: 90%;
        flex-direction: column-reverse;
        align-items: baseline;
        text-align: center;
    }
    
    p{
    font-size: 20px;
    }

    #home img{
        height: 12rem;
        margin: 0 auto;
    }

    .apresentation{
        margin: 20px auto 0 auto; 
    }
}

@media(max-width: 320px){
    #home{
        margin-left: 1rem;}
}