header{
    z-index: 10;
    color: #fff;
    background-color: #000;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

ul{
    list-style:none;
    display: flex;
}
li{
    margin-right: 10px;
}

 header a{
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
}

header a:hover{
    border-bottom: 2px solid violet;
}

a:last-of-type{
    margin-right: 3rem;
}

.menu-burguer{
    display: none;
}
.nav-mobile{
    display: none;
}

@media(max-width: 425px){
    .nav-desktop{
        display: none;
    }

    .menu-burguer{
        position: absolute;
        top: 30px;
        font-size: 25px;
        right: 25%;
        display: block;
    }

    .nav-mobile{
        z-index: 12;
        background-color: #000;
        color: #fff;
        display: block;
        position: fixed;
        height: 100%;
        top: 0;
        right: 0;
        padding: 3rem;
    }

    .nav-mobile ul{
        display: block;
    }
    .nav-mobile li{
        margin-bottom: 10px;
    }
    .close{
        position: fixed;
        top: 25px;
        color: #fff;
        font-size: 20px;
        right: 30px;
    }

}